@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1900px;
  padding-left: 20px;
  padding-right: 20px;
}

[class^=col-] {
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}
@media (min-width: 1200px) {
  .row {
    display: flex;
  }
  .row .col-1 {
    width: 8.3333333333%;
  }
  .row .col-2 {
    width: 16.6666666667%;
  }
  .row .col-3 {
    width: 25%;
  }
  .row .col-4 {
    width: 33.3333333333%;
  }
  .row .col-5 {
    width: 41.6666666667%;
  }
  .row .col-6 {
    width: 50%;
  }
  .row .col-7 {
    width: 58.3333333333%;
  }
  .row .col-8 {
    width: 66.6666666667%;
  }
  .row .col-9 {
    width: 75%;
  }
  .row .col-10 {
    width: 83.3333333333%;
  }
  .row .col-11 {
    width: 91.6666666667%;
  }
  .row .col-12 {
    width: 100%;
  }
}

.d-none {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.form,
.users-container {
  margin: 1em 0.5em 0.5em 0.5em;
  padding: 2em 1em 1em 1em;
  border: 1px solid #333;
  background-color: #eee;
  border-radius: 15px;
}
.form *::-moz-placeholder, .users-container *::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  padding: 0.3em;
}
.form *:-ms-input-placeholder, .users-container *:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  padding: 0.3em;
}
.form *::placeholder,
.users-container *::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  padding: 0.3em;
}
.form label,
.users-container label {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: bold;
}
.form input,
.form textarea,
.form select,
.users-container input,
.users-container textarea,
.users-container select {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ddd;
}
.form input:focus,
.form textarea:focus,
.form select:focus,
.users-container input:focus,
.users-container textarea:focus,
.users-container select:focus {
  box-shadow: 2px 0px 20px 0px #ddd;
  outline: none;
  border: 2px solid black;
}
.form .checkbox,
.users-container .checkbox {
  display: flex;
  gap: 1em;
  cursor: pointer;
}
.form .checkbox input,
.users-container .checkbox input {
  display: none;
}
.form .checkbox span,
.users-container .checkbox span {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
}
.form .checkbox input:checked + span,
.users-container .checkbox input:checked + span {
  background-image: url(../assets/checkmark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form .btn-submit,
.users-container .btn-submit {
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border: 2px solid #333;
  margin: 1em auto 1em;
  background-color: #eee;
  font-weight: bold;
}

.users-container .user-header {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #ddd;
}
.users-container .new-user {
  margin-top: 0.5em;
}
.users-container .new-user span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}
.users-container .btn-delete {
  display: block;
  margin: 0 auto;
  border: 2px solid rgb(46, 2, 2);
  background-color: rgb(181, 24, 24);
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding: 0.3em 1em;
}

.error-message {
  border: 2px solid rgb(46, 2, 2);
  background-color: rgb(181, 24, 24);
  color: #fff;
  font-weight: bold;
  padding: 0.3em 1em;
  font-size: 0.8em;
}

.alert {
  border-radius: 15px;
  margin: 2em;
  padding: 1em;
  border: 2px solid #333;
  background-color: #eee;
}

.alert-danger {
  background-color: rgb(251, 182, 182);
}

.alert-success {
  background-color: rgb(200, 255, 185);
}
/*# sourceMappingURL=main.css.map */
